.left__side {
    background: #0C4271;
    width: 80%;
    float: left;
    height: 100vh;
}

.left__side .close__btn {
    border-radius: 50%;
    background: #fff;
    left: 50px;
    top: 80px;
    position: absolute;
}

.right__side {
    background-image: url("../../assets/images/ax-img5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    float: left;
    height: 100vh;
}